@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><font face="verdana" color="#DF7818" size="10">dondelopillo.cl</font></h1>
    <p class="lead">Administrador del sitio web, en donde podra interactuar con los datos mas relevantes de este.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>