@{

    ViewBag.Title = "Nosotros";
}
<body>
    <h2>Nuestra Misión</h2>

    <p><font size="3">- Ayudar a los consumidores a escoger el libro perfecto para sus necesidades y presupuesto.</font></p></br>
    <p><font size="3">- Abarcar la mayor cantidad de tiendas de la ciudad, con o sin sitio web oficial.</font></p></br>

    <h2>Nuestra Visión</h2>

    <p><font size="3">- Desplegar tiendas a nivel nacional en la cotización de consumidores.</font></p></br>

</body>