
@{
    ViewBag.Title = "Contacto";
}

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
    <title>Contacto</title>
    <style>
        * {
            box-sizing: border-box;
        }

        input[type=text].texto, select.texto, textarea.texto {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label.letra {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit].submit {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        }
    </style>
</head>
<body>

    <h2>¿Quieres Contactarnos?</h2>
    <p>Si tienes alguna duda o un comentario que dejar, envia este formulario y te responderemos via correo electronico.</p>

    <div class="container">
        <form action="/action_page.php">
            <div class="row">
                <div class="col-25">
                    <label for="fname">Nombre</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="firstname" placeholder="Tu Nombre..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Apellido</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="lastname" placeholder="Tu Apellido..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lmail">Correo Electronico</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lmail" name="email" placeholder="Tu correo electrónico..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Comentario</label>
                </div>
                <div class="col-75">
                    <textarea id="subject" class="texto" name="subject" placeholder="Comentanos.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Enviar" class="submit">
            </div>
        </form>
    </div>

</body>