@model List<Conexion.Models.Libros>
@{
    ViewBag.Title = "Index";
}
<head>
    <title>Inicio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">

        a.links {
            color: #000000
        }

            a.links:active {
                color: #000000
            }

            a.links:link {
                color: #000000
            }

            a.links:visited {
                color: #000000
            }

            a.links:hover {
                color: #D86F00
            }
    </style>
</head>
<body>
    <div id="portada">
        @foreach (var lib in Model)
        {
            <article class="col-md-3 col-lg-pull-1 m-1 text-center">
                <div>
                    <img src="@lib.urlimagen" height="214" width="153" />
                </div>
                    <footer>
                        <span>@Html.ActionLink(@lib.desc_libro, "Cotizacion", new { id = lib.isbn },new {@class ="links"})</span>
                    </footer>
            </article>
        }
    </div>
</body>
